<!DOCTYPE html>
<html>
  <head>
    <title>LetsGetGit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%= render "partials/styles" %>

  <body>
  	<div class="hero-head">
      <div class="container">
        <nav class="nav">
          <div class="container">
            <div class="nav-left">
              <a class="nav-item" href="/">
                <%= image_tag("meeting.svg", width: '50') %> | Buddy Matcher
              </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
              <%= link_to 'Home', root_path, :class => 'nav-item' %>
              <%= link_to 'About', pages_about_path, :class => 'nav-item' %>
              <%= link_to 'Quiz', pages_quiz_path, :class => 'nav-item' %>
              <%= link_to 'Dashboard', pages_student_dashboard_path, :class => 'nav-item' %>
            	<% if user_signed_in? %>
				  	<%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'nav-item') %>

				<% else %>
				  	<%= link_to('Login', new_user_session_path, :class => 'nav-item') %>

				<% end %>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
